{% extends 'web_template.html' %}

{% block content %}
<h3>GitHub / Project Info</h3>

<div>
You can find this project available in Github
<p></p>
Feel free to use it, and your feedback, will be very welcome. You can send me an email - <a href="mailto:waldirio@gmail.com">waldirio@gmail.com</a>, and/or you can also send an issue directly in the <a href="https://github.com/Qikfix/cacert-webui/issues/new/choose" target="_blank">GitHub</a> page.
<p></p>
Thank you!
<br>
Waldirio / Wally
</div>
{% endblock %}