delete the root - <a href="/delete_root">delete root</a>
<p>
delete the intermediate - <a href="/delete_intermediate">delete intermediate</a>
<p>
create root folder - <a href="/root">create</a> - <a href="/verify_root">verify</a>
<p>
create intermediate folder - <a href="/intermediate">create</a> - <a href="/verify_intermediate">verify</a> - <a href="/verify_intermediate_against_root">verify against root</a>
<p>
download bundle - <a href="/download_bundle">download</a>
<p>
Sign the CSR (certificate signing request) - <a href="/sign_csr">download</a>