<a href="/">Main</a>
<br><br>
Intermediate

<form action="/intermediate" method="post">
  Country: <input name="countryName" value="GB">
  <br>
  State pr Province: <input name="stateOrProvinceName" value="England">
  <br>
  Locality: <input name="localityName" value="">
  <br>
  Organization Name: <input name="organizationName" value="Alice Ltd">
  <br>
  Organization Unit: <input name="organizationalUnitName" value="Alice Ltd Certificate Authority">
  <br>
  Common Name: <input name="commonName" value="Alice Ltd Intermediate CA">
  <br>
  Email Address: <input name="emailAddress" value="waldirio@gmail.com">
  <br><br><br>

  <button type="submit">Submit</button>

</form>