{% extends 'web_template.html' %}

{% block content %}
<h3>Sign CSR</h3>
<br>

<form action="/sign_certificate_main" method="post" enctype="multipart/form-data">

    <input type="file" name="file[]">
    <br>
    <input type="submit" value="Upload and Sign">

</form>

{% if is_file %}
<br>
Download Signed Cert <a href="/static/signed.crt">Here</a>
<br>
View Signed Cert <a href="/sign_certificate_main?view=yes">Here</a>
<br>
Delete Old files <a href="/sign_certificate_main?delete_files=yes">Here</a>
{% if response %}
<hr>
<pre>
{{ response }}
</pre>
{% endif %}

{% endif %}


{% if stdout_data %}
stdout_data
<pre>
---
{{ stdout_data }}
---
</pre>
{% endif %}

{% if stderr_data %}
stderr_data
<pre>
---
{{ stderr_data }}
---
</pre>
{% endif %}

{% endblock %}
